* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e9e3ff;
}

.container {
  height: 100vh;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #e5e7eb;
  color: #4b5563;
  border: 1px solid #6b7280;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
  padding: 9px 17px;
  border-radius: 6px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

button > svg {
  margin-right: 5px;
  color: rgb(69, 168, 69);
  height: 20px;
  width: 20px;
}

button.button-sm {
  padding: 7px 11px;
  font-size: 12px;
}

button.button-lg {
  padding: 13px 25px;
}

.green {
  color: green;
}

button.button-success {
  color: #047857;
  background-color: #ecfdf5;
  border-color: #047857;
}

button.button-warning {
  color: #fbbf24;
  background-color: #fffbeb;
  border-color: #fbbf24;
}

button.button-danger {
  color: #f87171;
  background-color: #fef2f2;
  border-color: #f87171;
}

.menu {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 200px;
}

.menu-button {
  background-color: white;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  margin-top: 3px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: white;
}

.menu-item {
  color: #4b5563;
  padding: 0.75rem;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.menu-item:hover {
  background-color: whitesmoke;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #6b7280;
}

/* Dark and Light Theme Styles */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.content {
  text-align: center;
  padding: 20px;
  transition: color 0.3s;
  flex: 1;
  display: flex;
}

.dark {
  border: 1px solid #f0f9ff;
  background-color: #0c4a6e;
  color: #f0f9ff;
}

.light {
  border: 1px solid #0c4a6e;
  background-color: #f0f9ff;
  color: #0c4a6e;
}

.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
}

/* Accessibility Styles */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
